[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
charset-normalizer = "*"
cycler = "*"
fonttools = "*"
h5py = "*"
idna = "*"
joblib = "*"
kiwisolver = "*"
matplotlib = "*"
networkx = "*"
numpy = "*"
packaging = "*"
pandas = "*"
pillow = "*"
pygame = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
scikit-learn = "*"
scipy = "*"
six = "*"
threadpoolctl = "*"
torch = "*"
torchaudio = "*"
torchvision = "*"
typing-extensions = "*"
urllib3 = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.11"
